*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

.container {
  background-color: #a5d8ff;
  width: 100%;
  margin: 0 auto;
}

.each:not(.each:last-child) {
  margin-bottom: 3rem;
  border-bottom: 3px solid #999;
  padding: 2rem;
}

.Module__heading {
  display: flex;
  margin-bottom: 1rem;
}

.Module__no {
  font-size: 2rem;
  color: rgb(176, 11, 176);
}

.Module__Name {
  font-size: 2rem;
  color: red;
}

.sub__heading {
  color: blue;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.content {
  width: 95%;
  margin: 0 auto;
  text-align: center;
}

iframe {
  width: 50%;
}
